<p-tabMenu *ngIf="dialogMode !== dialogModeEnum.CREATE" [model]="menuItems" [(activeItem)]="activeMenuItem">
  <ng-template #item let-item>
    <a #tabLink class="p-menuitem-link" [pTooltip]="item.tooltip | translate" tooltipPosition="top">
      <span class="p-menuitem-text">{{ (item.label | translate) || item.label }}</span>
    </a>
  </ng-template>
</p-tabMenu>

<form [formGroup]="formGroup" class="mt-5 sm:mx-2 flex flex-wrap flex-column row-gap-3 sm:row-gap-4">
  @if (selectedTab === 'main') {
    <p-floatlabel controlErrorAnchor variant="on">
      <input
        pInputText
        type="text"
        id="tm_detail_form_orgId"
        class="w-full pb-2 pt-3 text-responsive"
        formControlName="orgId"
        [pTooltip]="'TENANT_CREATE_UPDATE.FORM.TOOLTIPS.ORG_ID' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label class="ocx-required-label" for="tm_detail_form_orgId">
        {{ 'TENANT_CREATE_UPDATE.FORM.ORG_ID' | translate }}
      </label>
    </p-floatlabel>
    <p-floatlabel controlErrorAnchor variant="on">
      <input
        pInputText
        type="text"
        id="tm_detail_form_tenantId"
        class="w-full pb-2 pt-3 text-responsive"
        formControlName="tenantId"
        [pTooltip]="'TENANT_CREATE_UPDATE.FORM.TOOLTIPS.TENANT_ID' | translate"
        tooltipPosition="top"
      />
      <label class="ocx-required-label" for="tm_detail_form_tenantId">
        {{ 'TENANT_CREATE_UPDATE.FORM.TENANT_ID' | translate }}
      </label>
    </p-floatlabel>

    <div class="flex flex-row align-items-center gap-4" *ngIf="dialogMode !== dialogModeEnum.CREATE">
      <input #fileInput type="file" accept="image/png, image/jpeg" class="hidden" (change)="handleFileChange($event)" />

      <img
        *ngIf="!uploadedFile && !imageRemoved && hasExistingImage"
        id="tm_detail_form_image_preview"
        class="border-round-sm max-h-3rem max-w-5rem"
        [ocxSrc]="getImageUrl()"
        (load)="onImageLoad()"
        (error)="onImageError()"
        alt="Logo"
      />
      <img
        *ngIf="uploadedFile"
        id="tm_detail_form_image_uploaded"
        class="border-round-sm max-h-3rem max-w-5rem"
        [src]="uploadedFilePreview"
        alt="Logo"
      />
      <img
        *ngIf="(imageRemoved || !hasExistingImage) && !uploadedFile"
        id="tm_detail_form_image_default"
        class="border-round-sm max-h-3rem max-w-5rem"
        [src]="tenantDefaultImagePath"
        class="pi pi-image image-placeholder"
        [alt]="'LOGO.PLACEHOLDER' | translate"
      />

      @if (dialogMode !== dialogModeEnum.DETAILS) {
        <button
          pButton
          type="button"
          id="tm_detail_form_image_action_remove"
          icon="pi pi-trash"
          (click)="handleFileRemove()"
          [disabled]="(!hasExistingImage || imageRemoved) && !uploadedFile"
          [pTooltip]="'TENANT_CREATE_UPDATE.FORM.TOOLTIPS.REMOVE_IMAGE' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></button>
        <button
          pButton
          type="button"
          id="tm_detail_form_image_action_upload"
          icon="pi pi-upload"
          (click)="fileInput.click()"
          [pTooltip]="'TENANT_CREATE_UPDATE.FORM.TOOLTIPS.CHOOSE_IMAGE' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></button>
      }
    </div>

    <p-floatlabel controlErrorAnchor variant="on">
      <textarea
        pInputTextarea
        rows="3"
        type="text"
        id="tm_detail_form_description"
        class="w-full pb-2 pt-3"
        formControlName="description"
        [pTooltip]="'TENANT_CREATE_UPDATE.FORM.TOOLTIPS.DESCRIPTION' | translate"
        tooltipPosition="top"
      ></textarea>
      <label for="tm_detail_form_description"> {{ 'TENANT_CREATE_UPDATE.FORM.DESCRIPTION' | translate }}</label>
    </p-floatlabel>
  } @else {
    <p-floatlabel controlErrorAnchor variant="on">
      <input
        pInputText
        type="text"
        id="tm_detail_form_creationUser"
        class="w-full pb-2 pt-3"
        formControlName="creationUser"
        [pTooltip]="'TENANT_CREATE_UPDATE.FORM.TOOLTIPS.CREATION_USER' | translate"
        tooltipPosition="top"
      />
      <label for="tm_detail_form_creationUser"> {{ 'TENANT_CREATE_UPDATE.FORM.CREATION_USER' | translate }}</label>
    </p-floatlabel>
    <p-floatlabel controlErrorAnchor variant="on">
      <input
        pInputText
        type="text"
        id="tm_detail_form_creationDate"
        class="w-full pb-2 pt-3"
        formControlName="creationDate"
        [pTooltip]="'TENANT_CREATE_UPDATE.FORM.TOOLTIPS.CREATION_DATE' | translate"
        tooltipPosition="top"
      />
      <label for="tm_detail_form_creationDate"> {{ 'TENANT_CREATE_UPDATE.FORM.CREATION_DATE' | translate }}</label>
    </p-floatlabel>
    <p-floatlabel controlErrorAnchor variant="on">
      <input
        pInputText
        type="text"
        id="tm_detail_form_modificationUser"
        class="w-full pb-2 pt-3"
        formControlName="modificationUser"
        [pTooltip]="'TENANT_CREATE_UPDATE.FORM.TOOLTIPS.MODIFICATION_USER' | translate"
        tooltipPosition="top"
      />
      <label for="tm_detail_form_modificationUser">
        {{ 'TENANT_CREATE_UPDATE.FORM.MODIFICATION_USER' | translate }}
      </label>
    </p-floatlabel>

    <p-floatlabel controlErrorAnchor variant="on">
      <input
        pInputText
        type="text"
        id="tm_detail_form_modificationDate"
        class="w-full pb-2 pt-3"
        formControlName="modificationDate"
        [pTooltip]="'TENANT_CREATE_UPDATE.FORM.TOOLTIPS.MODIFICATION_DATE' | translate"
        tooltipPosition="top"
      />
      <label for="tm_detail_form_modificationDate">
        {{ 'TENANT_CREATE_UPDATE.FORM.MODIFICATION_DATE' | translate }}
      </label>
    </p-floatlabel>
  }
</form>
